<header class="header">
  <nav class="navbar">
    <h1 class="logo">Cineplex</h1>
    <ul class="nav-links">
      <li>
        <a routerLink="/">
          <mat-icon>home</mat-icon>
          Home
        </a>
      </li>
      <li>
        <a routerLink="/movies">
          <mat-icon>location_on</mat-icon>
          Theatre
        </a>
      </li>
      <li>
        <a routerLink="/about">
          <mat-icon>search</mat-icon>
          Search
        </a>
      </li>
      <li>
        <a routerLink="/contact">
          <mat-icon>contact_mail</mat-icon>
          Contact
        </a>
      </li>
    </ul>
  </nav>
</header>
